body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* background-color: rgb(224, 247, 106); */
  background: linear-gradient(blue, pink);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.site {
  width: 500px;
  border: 2px solid #000000;
  font-size: 18px;
  border-radius: 8px;
  padding: 50px;
  margin: 5px;
  background-color: rgba(38, 105, 126, 0.521);
  text-align: center;
}
#nova-tarefa {
  flex: 0;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#btn-adicionar {
  flex: 1;
  padding: 12px;
  border: 2px solid #000000;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
  background-color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

ul {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 2px solid #000000;
  background-color: rgba(64, 53, 53, 0.5);
  color: white;
  padding: 20px;
}

li {
  margin-right: auto;
  display: flex;
}

.tarefa.concluida span {
  text-decoration: line-through;
  color: #888;
  background-color: rgb(0, 0, 0);
}
.btn-remover {
  color: red;
  border: none;
  background: none;
  cursor: pointer;
}
/* .stats {

  padding: 10px;
  background: #f5f5f5;
  border-radius: 8px;
} */

#limpar-concluidas {
  width: 500px;
  padding: 06px;
  border: 2px solid #000000;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  color: #000000;
}
